.avanti-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 747px;
}

.product-section {
  display: flex;
  align-items: center;
  width: 65vw;
  height: 847px;
  background-color: white;
}

.avanti-img {
  display: flex;
  width: 652px;
  height: 747px;
  background-color: #c2c2c2;
}

.avanti-img img {
  margin: auto;
  width: 534px;
  height: 528px;
  transform: rotate(-10deg);
}

.avanti-txt {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 40px;
}

.avanti-txt h1 {
  font-size: 30px;
}

.avanti-txt p {
  font-size: 18px;
  letter-spacing: 0.9px;
}
