.section-carrosel {
  margin: 80px auto;
  max-width: 1350px;
}

.carrosel-titulo {
  display: flex;
  justify-content: space-between;
}

.carrosel-titulo h2 {
  font-size: 20px;
  margin: 0 0 20px 20px;
}

.carrosel-titulo a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 700;
}

.swiper {
  width: 100%;
  height: 478px;
}

.container-carr {
  position: relative;
  border: solid 1px #ddd;
  border-radius: 10px;
  width: 238px;
  left: 10px;
  height: 409px;
  padding: 10px;
}

.swiper-slide {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
}

.container-carr img {
  display: block;
  width: 222px;
  height: 222px;
}

.swiper-slide h3 {
  margin: 5px 0;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: var(--font-color);
}

.swiper-slide .novo {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-azul-secundario);
  font-size: 10px;
  width: 41px;
  border-radius: 5px;
  height: 20px;
}

.swiper-slide .desconto {
  font-size: 12px;
  font-weight: 400;
}

.swiper-slide .valor {
  font-size: 16px;
}

.swiper-slide .vezes span {
  color: var(--color-black);
  font-weight: 700;
}

.swiper-slide button {
  display: flex;
  width: 222px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: var(--color-white);
  background-color: var(--color-azul);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.swiper-slide button:hover {
  background-color: var(--color-azul-secundario);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none; /* esconde as setas padrão do Swiper */
}

.swiper-button-prev i,
.swiper-button-next i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  transform: translateY(-100%);
  font-size: 30px;
  border: solid 2px var(--color-azul);
  border-radius: 50%;
  transition: 0.4s;
}

.swiper-button-prev i {
  margin-right: 13px;
}

.swiper-button-prev i:hover,
.swiper-button-next i:hover {
  background-color: var(--color-azul);
  color: var(--color-white);
}
