@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --color-white: #fff;
  --color-azul: #005cff;
  --color-azul-secundario: #00264e;
  --color-black: #000;
  --font-color: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.interface {
  max-width: 1450px;
  margin: 0 auto;
}

.menu-mobile {
  display: none;
}

/* top cupom */

.top-cupom {
  background-color: var(--color-azul);
  color: var(--color-white);
  text-align: center;
  padding: 5px;
}

.top-cupom p span {
  font-weight: bold;
  background-color: rgb(119, 0, 255);
  border-radius: 5px;
}
/* fim top-cupom */

/* inicio header */
header {
  width: 100%;
  height: 150px;
  background-color: #fff;
  position: fixed;
  z-index: 999999;
  transition: 0.5s;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 10px 20px;
  background-color: white;
}

.header-container .logo img {
  height: 38px;
}

/* estilo menu-dinamico */
header.rolar {
  box-shadow: 0 0 8px #00000061;
}

.search-bar {
  display: flex;
  right: 50px;
  position: relative;
}

.search-bar input {
  padding: 20px;
  border-radius: 10px;
  color: #000;
  width: 600px;
  height: 38px;
  border: 1px solid #ccc;
}

.search-bar input::placeholder {
  color: #000;
  font-weight: bold;
}

.search-bar button {
  border: none;
}

.search-bar button i {
  background: none;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}

.user-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-cart p {
  font-weight: 700;
}

.user-cart .bi-person {
  font-size: 38px;
  color: #005cff;
}

.cart-icon-wrapper {
  position: relative;
  font-size: 24px; /* tamanho do ícone do carrinho */
}

.cart-count {
  position: absolute;
  top: -1px;
  right: -10px;
  background-color: #0066ff;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  line-height: 1;
}

.nav {
  display: flex;
  gap: 45px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 0 20px;
}

.nav .btn-nav {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 8px;
}

.nav .btn-nav .nav-btn {
  border: 2px;
  background-color: #fff;
  cursor: pointer;
}

.nav .btn-nav span {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.nav button .bi {
  font-size: 25px;
  color: rgb(0, 0, 0);
  width: 14px;
  height: 10px;
  z-index: 9999;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;

  margin-left: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  gap: 45px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

/* Ajusta o dropdown principal */
.drop-hover {
  position: relative;
}

.drop-hover a {
  color: #000;
  text-decoration: none;
}

.drop-hover a i {
  position: absolute;
  left: 200px;
}

.drop {
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  background-color: #f5f5f5;
  top: 33px;
  width: 234px;
  height: 350px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  padding: 10px 0;
}

.drop-hover.active > a {
  color: #005cff;
}

/* Sub-dropdown */
.sub-dropdown,
.depart-outros {
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: relative;
  padding: 8px 15px;
}

.sub-dropdown .sub-a,
.sub-dropdown a:hover {
  color: #005cff;
}

.sub-dropdown-content {
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 100%;
}

.sub-dropdown-left {
  display: flex;
  flex-direction: column;
  left: 0;
}

.sub-dropdown .sub-dropdown-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  top: -10px;
  width: 1055px;
  height: 350px;
  padding: 15px 30px;
  background-color: #ffffff;
}

.drop-2 {
  left: -190px;
  width: 0;
}

.sub-dropdown-content {
  display: flex;
  flex-direction: column; /* empilha o título e o conteúdo */
  padding: 20px 30px;
  background-color: #ffffff;
  width: 1000px;
}

.sub-dropdown .sub-dropdown-left {
  display: flex;
  flex-direction: column;
  width: 1292px;
  height: 350px;
}

.mega-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.mega-column-2 {
  flex-direction: row;
}

.mega-column-txt {
  display: flex;
  flex-direction: column;
}

.mega-column h3 {
  color: #005cff;
}

.mega-column a {
  margin-top: 10px;
  color: #656565;
}

.mega-column a:hover {
  color: #005cff;
}

.mega-column-img {
  top: 20px;
  left: 120px;
  position: relative;
  width: fit-content;
  display: inline-block;
}

.mega-column-img-2 {
  left: 388px;
}

.mega-column-img img {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/* Criando o efeito de escurecimento da imagem */
.mega-column-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.mega-column-img .content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  z-index: 2;
}

.mega-column-img p,
.mega-column-img p span,
.mega-column-img .mega-column-btn {
  position: absolute;
  left: 20px; /* ajuste conforme necessário */
  color: white; /* ou outra cor que contraste com a imagem */
}

.mega-column-img p {
  top: 20px;
  font-size: 24px;
}

.mega-column-img .mega-column-btn {
  top: 180px; /* ajusta a posição do botão */
  padding: 10px 20px;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  background-color: rgba(230, 230, 230, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}
/* fim header */

/* INICIO MAIN  */
.main-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 610px;
  background-color: rgba(231, 231, 234, 1);
  padding: 40px 0;
}

.main-content {
  display: flex;
  align-items: center;
  width: 35rem;
  height: 38rem;

  position: relative;
}

.main-content img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center initial;
  display: block;
  z-index: 0;
}

.main-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.main-text h1 {
  font-size: 6.25rem;
  font-weight: 100;
}
.main-text h1 span {
  font-weight: bold;
}

.main-text p {
  font-size: 2rem;
  color: #005cff;
}

.main-text .discount {
  font-weight: bold;
  font-size: 3.9rem;
}
/* FIM MAIN */

/* INICIO CARROSEL */
.section-carrosel {
  margin: 80px auto;
  max-width: 1350px;
}

.carrosel-titulo {
  display: flex;
  justify-content: space-between;
}

.carrosel-titulo h2 {
  font-size: 20px;
  margin: 0 0 20px 20px;
}

.carrosel-titulo a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 700;
}

.carrosel-titulo a:hover {
  color: var(--color-azul);
}

.swiper {
  width: 100%;
  height: 478px;
}

.container-carr {
  position: relative;
  border: solid 1px #ddd;
  border-radius: 10px;
  width: 238px;
  left: 10px;
  height: 409px;
  padding: 10px;
}

.swiper-slide {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
}

.container-carr img {
  display: block;
  width: 222px;
  height: 222px;
}

.swiper-slide h3 {
  margin: 5px 0;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: var(--font-color);
}

.swiper-slide .novo {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-azul-secundario);
  font-size: 10px;
  width: 41px;
  border-radius: 5px;
  height: 20px;
}

.preco-box {
  display: flex;
  align-items: center;
}

.preco-valores p {
  font-weight: bold;
}

.tag-desconto {
  margin-left: 5px;
  background-color: #5ec0be;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 5px;
  border-radius: 4px;
  text-decoration: underline;
}

.swiper-slide .vezes span {
  color: var(--color-black);
  font-weight: 700;
}

.swiper-slide .btn-comprar {
  display: flex;
  width: 215px;
  padding: 10px 24px;
  justify-content: center;
  margin: 15px auto;
  color: var(--color-white);
  background-color: var(--color-azul);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.swiper-slide button:hover {
  background-color: var(--color-azul-secundario);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none; /* esconde as setas padrão do Swiper */
}

.swiper-button-prev i,
.swiper-button-next i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  transform: translateY(-100%);
  font-size: 30px;
  border: solid 2px var(--color-azul);
  border-radius: 50%;
  transition: 0.4s;
}

.swiper-button-prev i {
  margin-right: 13px;
}

.swiper-button-prev i:hover,
.swiper-button-next i:hover {
  background-color: var(--color-azul);
  color: var(--color-white);
}
/* FIM CARROSEL */

/* INICIO AVANTI TXT */
.avanti-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 747px;
}

.product-section {
  display: flex;
  align-items: center;
  width: 65vw;
  height: 847px;
  background-color: white;
}

.avanti-img {
  display: flex;
  width: 610px;
  height: 747px;
  background-color: #c2c2c2;
}

.avanti-img img {
  margin: auto;
  width: 520px;
  height: 528px;
  transform: rotate(-10deg);
}

.avanti-txt {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 20px;
}

.avanti-txt h1 {
  font-size: 30px;
}

.avanti-txt p {
  font-size: 18px;
  letter-spacing: 0.9px;
}
/* FIM AVANTI-TXT */

/* INICIO AVANTI LOCALIZAÇÃO */
.container {
  display: flex;

  justify-content: center;
  flex-wrap: wrap; /* permite quebrar linha em telas menores */
  background-color: #dedede;
  color: #4f4f4f;
  height: 85vh;
  margin: 50px 0;
}
.content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.text-section {
  padding: 50px;
}
.text-section h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.text-section p {
  font-size: 1.2rem;
}
.text-item {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.icon i {
  width: 6rem;
  height: 6rem;
  font-size: 40px;
  color: #fff;
  background-color: #005cff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-section img {
  max-width: 642px;
  height: 720px;
  object-fit: contain;
}
/* FIM AVANTI LOCALIZAÇÃO */

/* INICIO BANER CONTATO */
.banner-avanti {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url("/img/contato.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 132px;
  background-color: #005cff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
/* FIM BANER CONTATO */

/* INICIO CADASTRO FORM  */
.form-avanti {
  width: 100%;
  height: 35vh;
  padding: 60px;
}

.form-avanti h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.form-avanti h1 span {
  color: #005cff;
}

.input-form {
  background-color: #dedede;
  border-radius: 8px;
  margin: 0 auto;
  width: 80vw;
  height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form .inputs {
  width: 280px;
  height: 48px;
  border-radius: 8px;
  margin-left: 20px;
  padding: 20px;
  border: none;
}

.input-form .input-check {
  width: 16px;
  height: 16px;
  margin-left: 20px;
  cursor: pointer;
}

.input-form button {
  padding: 14px 24px;
  background-color: #005cff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin: 0 20px;
}

.input-form button:hover {
  background-color: #0148c4;
}
/* FIM CADASTRO FORM */

/* INICIO FOOTER */
footer {
  width: 100%;
  height: 597px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 40px 0;
}

.footer-container {
  width: 100%;
  background-color: #f5f5f5;
  margin: auto;
  text-align: center;
}

.footer-top {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.footer-logo {
  text-align: left;
  margin: 0 200px;
}

.footer-logo a img {
  width: 152px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 30px;
}

.social-icons a img {
  color: #005cff;
  width: 19px;
  height: 19px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 38%;
  height: 45%;
  text-align: left;
}

.footer-column h4 {
  font-size: 12px;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
}

.footer-column ul li {
  margin: 5px 0;
  font-size: 12px;
}

.footer-column ul li a,
.footer-column ul li {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

.footer-column ul li a:hover {
  color: #005cff;
}

.payment-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

.payment-icons img {
  width: 30px;
}

.footer-bottom {
  background-color: #fff;
  padding-top: 20px;
}

.footer-bottom p {
  font-size: 12px;
  line-height: 20px;
  color: #666;
  max-width: 1074px;
  margin: 20px auto;
}

.partner-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 35px 0;
}

.partner-logos img {
  width: 50px;
}

.accordion {
  display: none;
  width: 100%;
}

.accordion .accordion-header {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  background: #f5f5f5;
}

.accordion-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.accordion-div:hover,
.accordion-content p:hover {
  color: var(--color-azul);
}

.accordion-div h4 {
  margin: 20px;
}

.accordion-div i {
  font-size: 18px;
}

.accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 10px;
}

.accordion .accordion-content p {
  margin: 10px 0;
  cursor: pointer;
}

.accordion-content p span {
  font-weight: 600;
}
.accordion-item.active .accordion-content {
  max-height: 500px; /* ajustável conforme conteúdo */
  padding: 10px;
}

/* FIM FOOTER */
